# Telephone Directory CRUD OperationCRUD Operation using TelePhone Dirctory

In [1]:
!pip install dnspython
!pip install pymongo[srv]

Requirement already satisfied: dnspython in c:\users\venkatesh\anaconda3\lib\site-packages (2.2.1)
Requirement already satisfied: pymongo[srv] in c:\users\venkatesh\anaconda3\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\venkatesh\anaconda3\lib\site-packages (from pymongo[srv]) (2.2.1)

In [11]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://Venkatesh:Allmightypush@cluster0.ts01o5x.mongodb.net/?retryWrites=true&w=majority")
db = client.Mongodb_Task
record = db.Telephone_Directory

# insert_one


data = { "Name":"ElonMusk", "Phone_number": 9876543210, "Place": "USA" }


x = record.insert_one(data)

In [ ]:
#Insert_many

directory  = [
    
           {"Name":"Venkatesh", "Phone_number": 8667866339, "Place": "Coimbatore"},
           {"Name":"Nanda", "Phone_number": 8807007907, "Place": "Chennai"},
           {"Name": "Appa", "Phone_number": 9092284378, "Place": "Bangalore"},
           {"Name":"Amma", "Phone_number": 9092375534, "Place": "Mysore"},
           {"Name":"Venkatesh2", "Phone_number": 9514010889, "Place": "Pune"}
    
]


insertion = record.insert_many(directory)

print(insertion.inserted_ids)

In [25]:
# Retriving the database

for datas in record.find({},{'_id': False}):
    print(datas)

{'Name': 'Venkatesh', 'Phone_number': 8667866339, 'Place': 'Coimbatore'}
{'Name': 'Nanda', 'Phone_number': 8807007907, 'Place': 'Chennai'}
{'Name': 'Appa', 'Phone_number': 9092284378, 'Place': 'Bangalore'}
{'Name': 'Amma', 'Phone_number': 9092375534, 'Place': 'Mysore'}
{'Name': 'Venkatesh2', 'Phone_number': 9514010889, 'Place': 'Pune'}
{'Name': 'ElonMusk', 'Phone_number': 9876543210, 'Place': 'USA'}
{'Name': 'ElonMusk', 'Phone_number': 9876543210, 'Place': 'USA'}
{'Name': 'ElonMusk', 'Phone_number': 9876543210, 'Place': 'USA'}

In [27]:
# Retriving the Specific data

for datas in record.find({'Name': 'Venkatesh' },{'_id': False}):
    print(datas)

{'Name': 'Venkatesh', 'Phone_number': 8667866339, 'Place': 'Coimbatore'}

In [44]:
# Retriving using multiple condition

query = {'$or':[{'Place':'Coimbatore'},{'Place':'Bangalore'}]}

for datas in record.find(query,{'_id':False}):
    print(datas)

In [37]:
# Updating files

# update_one

my_query = {'Name':'Appa','Name': 'Amma'}

new_values = {'$set':{'Name':'Viswanathan','Name': 'Ruckmani'}}

record.update_one(my_query,new_values)

for datas in record.find({},{'_id':False}):
    print(datas)

{'Name': 'Venkatesh', 'Phone_number': 8667866339, 'Place': 'Coimbatore'}
{'Name': 'Nanda', 'Phone_number': 8807007907, 'Place': 'Chennai'}
{'Name': 'Viswanathan', 'Phone_number': 9092284378, 'Place': 'Bangalore'}
{'Name': 'Ruckmani', 'Phone_number': 9092375534, 'Place': 'Mysore'}
{'Name': 'Venkatesh2', 'Phone_number': 9514010889, 'Place': 'Pune'}
{'Name': 'ElonMusk', 'Phone_number': 9876543210, 'Place': 'USA'}
{'Name': 'ElonMusk', 'Phone_number': 9876543210, 'Place': 'USA'}
{'Name': 'ElonMusk', 'Phone_number': 9876543210, 'Place': 'USA'}

In [39]:
#Delete_one

my_query = {'Place': 'USA'}

#record.delete_one(my_query)

for datas in record.find({},{'_id':False}):
    print(datas)

{'Name': 'Venkatesh', 'Phone_number': 8667866339, 'Place': 'Coimbatore'}
{'Name': 'Nanda', 'Phone_number': 8807007907, 'Place': 'Chennai'}
{'Name': 'Viswanathan', 'Phone_number': 9092284378, 'Place': 'Bangalore'}
{'Name': 'Ruckmani', 'Phone_number': 9092375534, 'Place': 'Mysore'}
{'Name': 'Venkatesh2', 'Phone_number': 9514010889, 'Place': 'Pune'}
{'Name': 'ElonMusk', 'Phone_number': 9876543210, 'Place': 'USA'}
{'Name': 'ElonMusk', 'Phone_number': 9876543210, 'Place': 'USA'}

In [43]:
# Delete_many

my_query = {'Name':{'$regex':'^E'}}
#record.delete_many(my_query)

for datas in record.find({},{'_id': False}):
    print(datas)

{'Name': 'Venkatesh', 'Phone_number': 8667866339, 'Place': 'Coimbatore'}
{'Name': 'Nanda', 'Phone_number': 8807007907, 'Place': 'Chennai'}
{'Name': 'Viswanathan', 'Phone_number': 9092284378, 'Place': 'Bangalore'}
{'Name': 'Ruckmani', 'Phone_number': 9092375534, 'Place': 'Mysore'}
{'Name': 'Venkatesh2', 'Phone_number': 9514010889, 'Place': 'Pune'}